[Unit]
Description=github.com/consumer-reports-digital-lab/osiraa

[Service]
Type=simple
ExecStart=/usr/bin/docker compose up
WorkingDirectory=/home/ubuntu/osiraa
ExecStop=/usr/bin/docker compose down

[Install]
WantedBy=default.target
