<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" lang="en" xml:lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html;charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>OSIRAA User Identity Verification</title>
</head>

<body>
<div style="margin:60px;">
    <h2>OSIRAA User Identity Verification</h2>
    <br/>

    <p>OSIRAA is an interoperability testing and reference implementation tool of the Data Rights Protocol. It's used to ensure that implementations of the protocol adhere to interoperable norms rather than to submit actionable Data Rights Requests.</p>

    <h3>1. Desired Level of Assurance</h3>

    <div class="outline-text-2" id="text-1">
    <p>OSIRAA makes no guarantee of the validity of identity attributes presented in Data Rights Requests, and even requests sent with "verified" attributes should be assumed to contain synthetic identities.</p>

    <p>Operators of OSIRAA shall not present Data Rights Requests to counterparties without notice and consent of the counterparty's technical contacts.</p>

    <h3>2. Validation Steps for Each Attribute</h2>

    <div id="outline-container-org3cbc754" class="outline-3"> 
        <p><b>2.1. Email</b><br/>
        The Consumer's email address is not validated by the Agent.</p>
            
        <p><b>2.2. Phone</b><br/>
        The Consumer's phone number is not validated by the Agent.</p>
    </div>
</div>
</body>
</html>
