<br/>
<h2>OSIRAA - Open Source Implementer's Reference Authorized Agent</h2>

<p><a href="/reporting/" target="blank">View test criteria</a></p>
<br/>

<h3>Send a DRP Data Privacy Request</h3>
<br/>

<form action="select_covered_business" method="POST" >
    {% csrf_token %}
    <p><b>Select a Privacy Infrstructure Provider or Covered Business</b></p>
    <p><span style="display: inline-block; width: 180px;">PIP or Covered Business</span>
        <select style="display: inline-block; width: 240px;" name="covered_business">
            {% for business in covered_businesses %}
            <option value={{business.id}} {{business.selected}}>{{business.name}}</option>
            {% endfor %}
        </select>
    </p>
    <input type="submit" value="Select">
</form>

<br/>
<hr/>
<br/>

<form action="send_request_discover_data_rights" method="POST" >
    {% csrf_token %}
    <p><b>Discover Data Rights</b> (GET /.well-known/data-rights.json)</p>
    <p><span style="display: inline-block; width: 180px;">PIP or Covered Business</span> {{selected_covered_biz}}</p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Discover Data Rights">
</form>

<br/>
<hr/>
<br/>

<form action="setup_pairwise_key" method="POST" >
    {% csrf_token %}
    <p><b>Setup Pair-wise Key</b> (POST /v1/agent/{agent-id})</p>
    <p><span style="display: inline-block; width: 180px;">Covered Business</span> {{selected_covered_biz}}</p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Setup Pair-wise Key">
</form>

<br/>
<hr/>
<br/>

<form action="get_agent_information" method="POST" >
    {% csrf_token %}
    <p><b>Get Agent Information</b> (GET /v1/agent/{agent-id})</p>
    <p><span style="display: inline-block; width: 180px;">Covered Business</span> {{selected_covered_biz}}</p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Get Agent Information">
</form>

<br/>
<hr/>
<br/>

<form action="send_request_excercise_rights" method="POST" >
    {% csrf_token %}
    <p><b>Excercise Data Rights</b> (POST /v1/data-right-request/)</p>
    <p><span style="display: inline-block; width: 180px;">PIP or Covered Business</span> {{selected_covered_biz}}</p>
    <p><span style="display: inline-block; width: 180px;">User Identity</span> 
        <select style="display: inline-block; width: 240px;" name="user_identity">
            {% for identity in user_identities %}
            <option value={{identity.id}}>{{identity.first_name}} {{identity.last_name}}</option>
            {% endfor %}
        </select>
    </p>
    <p><span style="display: inline-block; width: 180px;">Request Action</span>
        <select style="display: inline-block; width: 240px;" name="request_action">
            {% for action in request_actions %}
            <option value={{action.action}} {{action.disabled}}>{{action.label}}</option>
            {% endfor %}
        </select>
    </p>
    <p><span style="display: inline-block; width: 180px;">Covered Regime</span>
        <select style="display: inline-block; width: 240px;" name="covered_regime">
            <option value="ccpa">CCPA</option>
            <option value="voluntary">Voluntary</option>
        </select>
    </p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Excerise Rights">
</form>

<br/>
<hr/>
<br/>

<form action="send_request_get_status" method="POST" >
    {% csrf_token %}
    <p><b>Get Status for a Data Rights Request</b> (GET /v1/data-rights-request/{request_id})</p>
    <p><span style="display: inline-block; width: 180px;">Covered Business</span> {{selected_covered_biz}}</p>
    <p><span style="display: inline-block; width: 180px;">User Identity</span> 
        <select style="display: inline-block; width: 240px;" name="user_identity">
            {% for identity in user_identities %}
            <option value={{identity.id}}>{{identity.first_name}} {{identity.last_name}}</option>
            {% endfor %}
        </select>
    </p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Get Status">
</form>

<br/>
<hr/>
<br/>

<form action="send_request_revoke" method="POST" >
    {% csrf_token %}
    <p><b>Revoke a Data Rights Request</b> (DELETE /v1/data-rights-request/{request_id})</p>
    <p><span style="display: inline-block; width: 180px;">Covered Business</span> {{selected_covered_biz}}</p>
    <p><span style="display: inline-block; width: 180px;">User Identity</span> 
        <select style="display: inline-block; width: 240px;" name="user_identity">
            {% for identity in user_identities %}
            <option value={{identity.id}}>{{identity.first_name}} {{identity.last_name}}</option>
            {% endfor %}
        </select>
    </p>
    <input type="hidden" name="sel_covered_biz_id" value={{selected_covered_biz.id}}>
    <input type="submit" value="Revoke Rights Request">
</form>

<br/>
<br/>
