---
- name: set up compute instance for running docker-compose applications
  hosts: all

  roles:
  - role: docker-ce
    become: yes
  # - role: fidesdemo
  #   become: no

  - role: osiraa
    become: no
    vars: 
      osiraa_source_dir: '{{playbook_dir}}/../'
      osiraa_remote_dir: /home/ubuntu/osiraa
      osiraa_service_id: osiraa
      osiraa_service_domain: osiraa.datarightsprotocol.org
      osiraa_port: 8000
      #osiraa_version: 1954a9d6e09c8d15c1a4fe185b8e9874c99bdbed

  # - role: osiraa
  #   become: no
  #   vars:
  #     osiraa_source_dir: "~/Code/osiraa05"
  #     osiraa_remote_dir: "/home/ubuntu/osiraa05"
  #     osiraa_service_id: "osiraa05"
  #     osiraa_service_domain: "osiraa05.datarightsprotocol.org"
  #     osiraa_port: 8001

  pre_tasks:
  - name: install SSH keys
    authorized_key:
      user: ubuntu
      key: '{{item}}'
    with_file:
      - keys/rrix.pub
      - keys/john.pub

  post_tasks:
  - name: inform user to create OSIRAA superuser
    debug:
      msg: "Looks like FidesOps and OSIRAA are running. log on to the instance and run `cd osiraa && docker compose run web python manage.py createsuperuser` to configure OSIRAA web admin access!"
