<div style="margin:60px;">
    <h2>OSIRAA - Open Source Implementer's Reference Authorized Agent</h2>
    <br/>

    <p><b>New Auth Agent Signing Key (64-bit encoded):</b><br>
        {{agent_signing_key_b64}}</p>

    <p><b>New Auth Agent Verify Key (64-bit encoded):</b><br>
        {{agent_verify_key_b64}}</p>

    <p>You can copy these keys into the config settings of your app.  If you update your app's keys, you must noitify the DRP team so we can update your entry in the Service Direcotry.</p>

    <form action="generate_auth_agent_keys_return" method="POST" >{% csrf_token %}
        <input type="submit" value="Okay">
    </form>

</div>