<h2>Data Rights Protocol Service Providers</h2>

<h3>Businesses</h3>

<a href="/directories/businesses">JSON document</a>:

<pre>
  {{ json_cbs }}
</pre>

<table>
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>API Base</td>
    <td>Web URL</td>
    <td>Technical Contact</td>
    <td>Business Contact</td>
  </thead>
  <tbody>
{% for cb in cbs %}
  <tr>
    <td>{{ cb.id }}</td>
    <td>{{ cb.name }}</td>
    <td>{{ cb.api_base }}</td>
    <td><a href="{{ cb.web_url }}">{{ cb.web_url }}</a></td>
    <td><a href="mailto:{{ cb.technical_contact }}">{{ cb.technical_contact }}</a></td>
    <td><a href="mailto:{{ cb.business_contact }}">{{ cb.business_contact }}</a></td>
  </tr>
{% endfor %}
  </tbody>
</table>

<h3>Authorized Agents</h3>

<a href="/directories/agents">JSON document</a>:

<pre>
  {{ json_aas }}
</pre>

<table>
  <thead>
    <td>ID</td>
    <td>Name</td>
    <td>Verify Key</td>
    <td>Web URL</td>
    <td>Identity Assurance Documentation</td>
    <td>Technical Contact</td>
    <td>Business Contact</td>
  </thead>
  <tbody>
{% for aa in aas %}
  <tr>
    <td>{{ aa.id }}</td>
    <td>{{ aa.name }}</td>
    <td>{{ aa.verify_key }}</td>
    <td><a href="{{ aa.web_url }}">{{ aa.web_url }}</a></td>
    <td><a href="{{ aa.identity_assurance_url }}">{{ aa.identity_assurance_url }}</a></td>
    <td><a href="mailto:{{ aa.technical_contact }}">{{ aa.technical_contact }}</a></td>
    <td><a href="mailto:{{ aa.business_contact }}">{{ aa.business_contact }}</a></td>
  </tr>
{% endfor %}
  </tbody>
</table>
